<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @{
        BusinessManagement.User us = new BusinessManagement.User(User.Identity.Name);
        string css = Url.Content(us.GetCSSPath());
     }
    <link rel="stylesheet" type="text/css" href="@css">
</head>
<body>
    <ul id="navigation">
        <li><a href="Index">Profil</a></li>
        <li><a href="Blog">Blog</a></li>
        <li><a href="Follows">Follows</a></li>
        <li><a href="Followers">Followers</a></li>
    </ul>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
