@{
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<h2>Gestion de blog : @ViewBag.Title</h2>

<ul>
@foreach (DataAccess.T_Article art in ViewBag.Articles)
{
    <li> @art.Text </li>
}
</ul>

@{
    // Lien vers les créations d'articles
    string quote = Url.Content("../ArticleCreation/AddQuote?blogId=" + ViewBag.id);
    string music = Url.Content("../ArticleCreation/AddMusic?blogId=" + ViewBag.id);
    string img = Url.Content("../ArticleCreation/AddImage?blogId=" + ViewBag.id);
    string video = Url.Content("../ArticleCreation/AddVideo?blogId=" + ViewBag.id);
    string link = Url.Content("../ArticleCreation/AddLink?blogId=" + ViewBag.id);
    }

<a href=@quote >Ajouter un article - quote</a>
<a href=@music >Ajouter un article - musique</a>
<a href=@img >Ajouter un article - image</a>
<a href=@video >Ajouter un article - video</a>
<a href=@link >Ajouter un article - lien</a>