<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="Entities"
         connectionString="metadata=res://*/Modele.csdl|res://*/Modele.ssdl|res://*/Modele.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THOMAS-PC\MTI;initial catalog=Hopplr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="FluxRss.Feed">
        <endpoint address="Feed1" behaviorConfiguration="FluxRss.Feed1Behavior"
          binding="webHttpBinding" contract="FluxRss.IFeed" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/FluxRss/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FluxRss.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
