/* Sunny Hopplr */

html,body
{
    height: 100%;
    width: 100%;
    padding: 1%;
    background:#383232 url(../images/hopplr_sunny_bg.png) no-repeat;
    background-size: 100% 100%;
    color:yellow;
    font: bold 15px "Calibri"; 
}

#home_page {
    margin: 0 auto;
    display: block;
}

#home_footer {
    background: rgba(55, 55 , 55, .8);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98%;
    font-size: 15px;
    padding: 10px 5px;
}

#form {
    width: 98%;
    text-align: center;
}

#Login1 {
    width: 98%;
}

#Login1 table{
    width: 98%;
}

#Login1 table td {
    display: inline-block;
}

#Login1_LoginButton {
    background: #660000;
    background-size: 100% 100%;
    border: solid 1px white;
    font: bold 15px "Calibri";
    color: white;
}

#Login1_LoginButton:hover {
    color: gray;
    border: solid 1px gray;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: orange;
    text-shadow: -1px 0 yellow, 0 .5px yellow, .5px 0 yellow, 0 -1px yellow;
}

a:hover {
    color: yellow;
    text-shadow: -.5px 0 orange, 0 1px orange, 1px 0 orange, 0 -.5px orange;
}

h1,h2 {
    width: 98%;
    text-align: center;
    font-size: 40px;
    line-height: 25px;
    color: yellow;
    text-shadow: -.5px 0 orange, 0 1px orange, 1px 0 orange, 0 -.5px orange;
    margin: 10px auto;
}

h2 {
    font-size: 35px;
}

ul {
    list-style-type: none;
    display: inline-block;
}

#logo {
    float: left;
    width: 100px;
    display: inline;
    margin-bottom: 10px;
}

#navigation {
    display: inline;
    float: left;
}

#navigation li
{
  display: inline;
  margin: 0;
  padding: 5px;
  list-style: none;
  text-align: center;
}

#content {
    padding: 5px;
    margin-top: 10px;
    clear: both;
    background-color: rgba(233, 106, 0, .4);
    border-radius: 10px;
    border: solid .5px red;
    min-height: 500px;
    height: auto;
    width: auto;
    text-align: center;
}

#content ul,li,div
{
    padding-left: 0px;
    width: 98%;  
}

#content form {
    display: inline-block;
    padding-top: 10px;
}

#content a {
    padding: 0px 5px;
}

.button {
    float:left;
    display: inline;
    padding: 5px;
    background-color: orange;
    background-size: 100% 100%;
    border: solid 1px white;
    width: auto; 
}

.button a {
    color: white;
    font: bold 15px "Calibri";
}

.button:hover {
    color: gray;
    border-color: gray;
}

.button:hover a {
    color : gray;
}

#footer {
    width: 98%;
    text-align: center;
    bottom: 0;
    padding: 5px;
}


#footer ul li {
    position: relative;
    margin: 0 auto;
    display: inline;
    border-right: 1px solid orange;
    padding: 0px 5px;
}


#footer ul li a {
    color: orange;
    font: normal 11px/18px "Calibri";
    text-shadow: none;
}

#footer ul li#last {
    border-right: none;
}