/* Snowy Hopplr */

html,body
{
    height: 100%;
    width: 100%;
    padding: 1%;
    background:white url(../images/hopplr_snowy_bg.png) no-repeat;
    background-size: 100% 100%;
    color: gray;
    font: bold 15px "Calibri"; 
}

#home_page {
    margin: 0 auto;
    display: block;
}

#home_footer {
    background: rgba(55, 55 , 55, .8);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98%;
    font-size: 15px;
    padding: 10px 5px;
}

#form {
    width: 98%;
    text-align: center;
}

#Login1 {
    width: 98%;
}

#Login1 table{
    width: 98%;
}

#Login1 table td {
    display: inline-block;
}

#Login1_LoginButton {
    background: #660000;
    background-size: 100% 100%;
    border: solid 1px white;
    font: bold 15px "Calibri";
    color: white;
}

#Login1_LoginButton:hover {
    color: gray;
    border: solid 1px gray;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: -.5px 0 gray, 0 1px gray, 1px 0 gray, 0 -.5px gray;
}

a:hover {
    color: gray;
    text-shadow: -1px 0 white, 0 .5px white, .5px 0 white, 0 -1px white;
}

h1,h2 {
    width: 98%;
    text-align: center;
    font-size: 35px;
    line-height: 18px;
    color: white;
    text-shadow: -.5px 0 gray, 0 1px gray, 1px 0 gray, 0 -.5px gray;
}

h2 {
    font-size: 30px;
}

ul {
    list-style-type: none;
    display: inline-block;
}

#logo {
    float: left;
    width: 100px;
    display: inline;
    margin-bottom: 10px;
}

#navigation {
    display: inline;
    float: left;
}

#navigation li
{
  display: inline;
  margin: 0;
  padding: 5px;
  list-style: none;
  text-align: center;
}

#content {
    padding: 5px;
    margin-top: 10px;
    clear: both;
    background-color: rgba(120, 120, 120, .5);
    border-radius: 10px;
    border: solid .5px blue;
    min-height: 500px;
    height: auto;
    width: auto;
    text-align: center;
}

#content form {
    display: inline-block;
}

#footer {
    width: 98%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 5px;
}


#footer ul li {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    float: left;
    border-right: 1px solid gray;
    padding: 0px 5px;
}


#footer ul li a {
    color: gray;
    font: normal 11px/18px "Calibri";
    text-shadow: none;
}

#footer ul li#last {
    border-right: none;
}