<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.CssPath">
</head>
<body>
    <div id="header">
        @{
            string urlSearch = Url.Content("~/Search/Search");
            }
        <form action="@urlSearch" method="get">
            <input type="text" name="search" />
            <select name="type">
                <option> Utilisateur </option>
                <option> Theme </option>
                <option> Tag </option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
    <img id="logo" src="../Content/images/logo.png" alt="logo"/>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Home</a></li>
            <li id="last"><a href="#">Credits</a></li>
        </ul>
    </div>
</body>
</html>
