@model UserInterface.Models.ArticleModel
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Blog/_BlogLayout.cshtml";
}


@Html.Partial("_DisplayArticle", Model)
<iframe src="//www.facebook.com/plugins/like.php?href=@ViewBag.urlFB&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>


<a href="https://twitter.com/share" class="twitter-share-button" data-url="@ViewBag.urlTw" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>